@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
}

.home {
    margin: 30px;
}